.composition-product {
    width: 1500px;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.leftside {
    display: inline-block;
}
.leftside-block {
    margin-left: 40px;
    margin-top: 40px;
    height: 210px;
    width: 210px;
    border:2px solid black;
}
.leftside-name {
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    width:  170px;
    height: 30px;
    border: 2px solid black;
}
.middle {
    display: inline-block;
}
.middle-block {
    margin-bottom: 150px;
    height: 400px;
    width: 400px;
    border:2px solid black;
    margin-left: 295px;
}
.rightside {
    display: inline-block;
}
.rightside-block {
    margin-left: 295px;
    margin-top: 40px;
    height: 210px;
    width: 210px;
    border:2px solid black;
}
.rightside-name {
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    width:  170px;
    height: 30px;
    border: 2px solid black;
}
.middleBtn {
    height: 40px;
    bottom: 200px;
    margin-right: 60px;
    width: 300px;
    float: right;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    transition: 500ms;
}
.middleBtn:hover {
    color: white;
    background-color: black;
}
@media (max-width:375px) {
    .composition-product {
        width: 350px;
        height: 400px;
    }
    .leftside-block {
        margin-left: 10px;
        width: 80px;
        height: 80px;
    }
    .leftside-name {
        width: 50px;
        height: 10px;
        margin-top: 60px;
    }
    .middle-block {
        width: 120px;
        height: 120px;
        margin-left: 20px;
    }
    .middleBtn {
        margin-left: 30px;
        position: absolute;
        width: 100px;
        bottom: -280px;
    }
    .rightside-block {

        width: 80px;
        height: 80px;
        margin-left: 20px;
    }
    .rightside-name {
        width: 50px;
        height: 10px;
        margin-top: 60px;
    }
    .rightside {
        width: 80px;
        margin-left: 0px;
    }
}