.promo {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    background: url('/src/videoplayback.mp4')
}
.name-product {
    height: 150px;
    background: linear-gradient(to right, blue, pink);
    color: black;
    text-align: center;
    line-height: 150px;
    font-size: 40px;
    border: 2px solid black;
}
.product-desc {
    grid-template-columns: 750px 750px;
    margin-top: 40px;
    height: 450px;
}
.product-image {
    margin-right: 0px;
    border: 2px solid black;
    height: 450px;
    display: inline-block;
    width: 750px;
    background-color: white;
}
.product-image img {
    padding-left: 60px;
    width: 250px;
    padding-top: 60px;
    margin-right: 0px;
}
.product-info {
    background-color: white;
    margin-left: 0px;
    border: 2px solid black;
    height: 450px;
    display: inline-block;
    width: 745px;
}
.orderBtn {
    height: 40px;
    bottom: 200px;
    margin-right: 100px;
    width: 300px;
    float: right;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    transition: 500ms;
}
.orderBtn:hover {
    color: white;
    background-color: black;
}
video {
    background-size: cover;
    min-width: 1500px;
    z-index: -1;
    position: absolute;
}
.charact {
    position: absolute;
    width: 740px;
}

@media (max-width:375px) {
    .promo {
        width: 370px;
        margin-left: 12px;
    }
    .name-product {
        width: 350px;
    }
    .product-image {
        width: 170px;
    }
    .product-image img {
        padding-top: 150px;
        padding-left: 0px;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    .product-info {
        font-size: 10px;
        width: 175px;
    }
    .product-info ul {
        width: 165px;
    }
    video {
        display: none;
    }
    .orderBtn {
        margin-left: 30px;
        margin-right: 0;
        float: left;
        width: 100px;
        height: 20px;
    }

}